html, body {
    height: 100%;
}

.flex-fill {
    flex: 1 1 auto;
}

.navbar-text-brand {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: slategrey;
    color: #fff;
}

.navbarr {
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bs-primary-rgb), 1), rgba(var(--bs-primary-rgb), 0.95));
    box-shadow: 0 1px 4px var(--bs-border-color-translucent),inset 0 -1px 0 var(--bs-border-color-translucent);
}

.navbarr .navbar-brand {
    transition: .2s ease-in-out transform;
}

.navbarr .navbar-brand:hover {
    transform: rotate(-5deg) scale(1.1);
}

.sidebar {
    box-shadow: 0px -1px 1px var(--bs-border-color-translucent), inset -2px 0px 6px var(--bs-border-color-translucent);
}